## .NET / C# ##
# Compilación
bin/
obj/
[Bb]uild/
[Ll]og/
logs/

# Archivos generados por usuario
uploads/
*.user
*.userosscache
*.suo
*.sln.docstates
*.userprefs
*.lck
*.vbak

# Archivos de cache y temporales
*.tmp
*.temp
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
.vs/
.vscode/
.idea/

# Publicaciones y empaquetado
publish/
out/
artifacts/
TestResults/
*.dbmdl
*.bak

# Configuraciones locales
appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json
appsettings.json
secrets.json

# Entity Framework
Migrations/
*.sqlite
*.db
*.mdf
*.ldf

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Git
*.orig
*.patch
*.rej

# Archivos de entorno
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml


.config/dotnet-tools.json
backend/appsettings.json
